<div class="container">
    

<div class="register-form">
<form [formGroup]="registerForm">
<mat-card>
    <mat-card-header>
        <mat-card-title>
            Create Account!
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="100px" gutterSize="10px">
<mat-grid-tile>
    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName">
        <mat-error>First Name is Required</mat-error>
    </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
     <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName">
        <mat-error>Last Name is Required</mat-error>

    </mat-form-field>
</mat-grid-tile>
<mat-grid-tile colspan="2">
     <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error>Email is Required</mat-error>

    </mat-form-field>
</mat-grid-tile>
<mat-grid-tile colspan="2">
     <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone" formControlName="mobile">
        <mat-error>Phone is Required</mat-error>
    </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
     <mat-form-field>
        <mat-label> Password</mat-label>
        <input [type]="hidepassword ? 'password': 'text'" matInput placeholder="Password" formControlName="password">
        <button mat-icon-button matSuffix (type="button" (click)="hidepassword = !hidepassword")>
            <mat-icon>
                {{ hidepassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
        </button>
        <mat-error>Password is Required</mat-error>

    </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
     <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input [type]="hidepassword ? 'password': 'text'" matInput placeholder="Confirm Password" formControlName="rpassword">
        <button mat-icon-button matSuffix (type="button" (click)="hidepassword = !hidepassword")>
            <mat-icon>
                {{ hidepassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
        </button> 
        <mat-error>Confirm Password is Required</mat-error>
    </mat-form-field>
</mat-grid-tile>

        </mat-grid-list>
        
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="registerForm.invalid" (click)="register()">Register</button>
    </mat-card-actions>

    <mat-card-actions>
        <h4>Already have an account? <a mat-stroked-button color="primary" routerLink="/login">Login</a></h4>
    </mat-card-actions>
</mat-card>



<div class="library-info">

    <h2>Library Information</h2>
    <hr>
  <mat-list>
    <mat-list-item>
        <p style="font-size: 0.6rem;">
            Once an account is  created,the approval request will be sent to the admin. 
            Once the admin approves your account,
             you will be able to log in and access the library resources.
        </p>
    </mat-list-item>

    <mat-list-item>
        <p>
            If you have any questions or need assistance, please contact our support team at
    </mat-list-item>
  </mat-list>

</div>

